doctype html
html(lang="en" ng-app="Chats")
  
  include head.pug
  
  body(ng-controller="mainController")
    div(id="wrapper")
      div(id="chat-area")
        div(
          ng-repeat="chat in chats | orderBy: 'timestamp'"
          class="chat-container"
        )
          div(class="chat-wrapper").
            <p class='chat-{{chat.who}}' id='chat-{{chat.id}}'> 
            {{chat.who}} at {{chat.timestamp}}:<br>
            {{chat.message}}
            </p>
            <div class="avatar avatar-{{chat.who}}"></div>
    div(id="compose-area")
      textarea(
        id="composer"
        class="text-input"
        type="text"
        autofocus="autofocus"
      )
      div(id="send-button")
        button.
          &nbsp;↵&nbsp;
    div(style="display: none;" id="guest-ip").
      #{guest_ip}
    script(type="text/javascript" src="js/core.js")
    script(type="text/javascript" src='js/listen.js')